extends layout.pug
block title
  title The 301 - Coming Soon
block content
  #main
    .heroSlider
      img(src="./images/the301_background.jpg" style="width:100%;" alt="The 301")
    .buttonHide
    .intro_title
      h2.title.has-text-white COMING SOON
  section.section#formFooter
    .container
      h3.title.is-3.animated.fadeIn.slower.has-text-centered
        | For information please fill <br>the form below Email
      <!--[if lte IE 8]>
      script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js")
      <![endif]-->
      script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js")
      script.
        hbspt.forms.create({
        portalId: "5163160",
        formId: "a6af480b-0890-4c7c-ba2f-de6d70bb15cf"
        });
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js")
  //- script(src="./homepage.js")