<!DOCTYPE html>
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="format-detection" content="telephone=no")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      block title
      script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
      link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css")
      link(rel="stylesheet", href="./node_modules/simplelightbox/dist/simple-lightbox.css")
      link(rel="stylesheet", href="style.scss")
  body
    include partials/header.pug
    block content
    include partials/footer.pug
  script(src="./index.js")
  block scripts