#main{
    align-items: center;
    align-content: center;
    /* min-height: 70vh; */
}
#main a{
  color: black !important;
}
h1, h2, h3 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 500 !important;
}
h1.title{
  color: #1d1d1d;
  font-size: 5em;
  line-height: 0.8;
  letter-spacing: 5px;
  /* text-shadow: 1px 1px 10px #000; */
}
img.logo{
  width: 60%;
  margin-bottom: 20px;
}
.background_container{
  overflow: hidden;
  height:50vw;
  min-height: 30vh;
}
.background_column{
  width: 100%;
  height: 100%;
  background: #e1bb24 url(./images/the301_background.jpg) no-repeat left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  -webkit-animation-name: kenburns;
  animation-name: kenburns;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;
  animation-duration: 26s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#mainContainer{
  margin-bottom: 80px;
}
#footer{
  position: fixed;
  bottom: 0;
  z-index: 99;
  background: #1d1d1d;
  padding: 1em;
  color: #686e74;
  font-size: 0.7em;
  text-align: center;
}

form#hsForm_034ac21a-6e0e-4bb8-b49c-0a0e3833f6cf{
  background: #fff;
  padding: 30px;
  margin: 20px auto 20px;
  max-width: 500px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
}
form#hsForm_034ac21a-6e0e-4bb8-b49c-0a0e3833f6cf label{
  margin: 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: bold;
}
form#hsForm_034ac21a-6e0e-4bb8-b49c-0a0e3833f6cf input:not(.hs-button), textarea{
  width: 100%;
  border: 0;
}
form#hsForm_034ac21a-6e0e-4bb8-b49c-0a0e3833f6cf input:focus, textarea:focus{
  outline: none;
}
div.hs_message > div.input{
  height: 120px !important;
}
textarea.hs-input{
  height: 100px !important;
}
select.hs-input{
  width: 100% !important;
}
label.hs-error-msg{
  text-transform: none!important;
  color: red;
  letter-spacing: 0!important;
  font-weight: normal !important;
}
.hs-button{
  margin-top: 20px;
}
.hs_recaptcha{
  display: none;
}
fieldset.form-columns-2 > div{
  width: 48% !important;
}
fieldset.form-columns-2 > div:first-child{
  margin-right: 17px;
}
#header{
  background: #fff;
  text-align: center;
}
#header img.logo{
  max-width: 150px;
  padding: 20px 0 10px;
}

.hbspt-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.buttonHide{display: none;}
@media (max-width: 481px) {
  img.logo{
    width: 20%;
  }
  fieldset.form-columns-2 > div{
  width: 100% !important;
}
h1.title{
  font-size: 2em;
}
}

@media (min-width: 767px){
  img.logo{
    width: 40%;
  }
}

@keyframes 
kenburns {
0% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
50% {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
 100% {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}

}